*{
    margin: 0;
    padding: 0;
    font-family: 'VT323', sans-serif
}

body{
    background-color: #E4BE9E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 640px;
    width: 640px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    border: 7px solid #71697A;
    border-radius: 8px;
    padding: 1px;
}

.reset{
    padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .8em;
    padding-right: .8em;
    background-color: #D0E1D4;
    border-radius: 8px;
    border-color: black;
    font-size: 16px;
}
.reset:hover{
    border-color: grey;
    background-color: honeydew;
    transition: .5s;
}

